{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container mt-5">
        <h1 class="mb-3">User Login Page</h1>
        <div>
            {% if messages %}
            {% for message in messages %}
            <strong>{{message}}</strong>
            {% endfor %}
            {% endif %}
            {{form.as_p}}
        </div>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter your email">
        <div class="mt-3 mb-3">
            <label for="password">Password:</label>
            <input type="password" name="password" id="" placeholder="Enter your password">
        </div>
        <button class="btn btn-secondary" type="submit">Login</button>
        <div class="mt-3">
            <a href="{% url 'register' %}">Create account</a>
        </div>
    </div>
</form>
{% endblock content %}