{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container mt-5">
        <a href="{% url 'login' %}">Go Back</a>
        <h1 class="mb-3">User Register Page</h1>
        {% if messages %}
        {% for message in messages %}
        <strong>{{message}}</strong>
        {% endfor %}
        {% endif %}
        {{form.as_p}}
        <button class="btn btn-secondary" type="submit">Register</button>
    </div>
</form>
{% endblock content %}